<!DOCTYPE html>
<html>
<head>
  <title>KillingDogs</title>
  <%= stylesheet_link_tag    "killing_dogs/application", media: "all" %>
  <%= javascript_include_tag "killing_dogs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
